#map {
	height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.error {
	color: #a94442;
  background-color: #f2dede;
    border-color: #ebccd1;
    display: none;
    text-align: center;
    font-weight: bold;
}

#user_current_location {
	color: green;
}

.pac-card {
  margin: 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
  width: 300px;
  font-size: 15px;
  background-color: #1edaf7;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.pac-card div,
.pac-card ul {
  margin: 0px 10px 10px 10px;
  float: left;
}

.pac-card div label:first-child {
  font-weight: bold;
}

div#mode_of_travel select {
  width: 155px;
}

#analytics {
  width: 70%;
  height: 100px;
}
.override {
  width: 100px !important;
}

div.destination {
  width: 100% !important;
} 

ul.checkbox,
ul#mode_of_travel { 
  margin: 0; 
  padding: 0; 
  margin-left: 10px; 
  list-style: none; 
} 

ul.checkbox span,
ul#mode_of_travel span {
  font-weight: bold;
}

ul.checkbox li input
ul#mode_of_travel li input { 
  margin-right: .25em; 
} 

ul.checkbox li,
ul#mode_of_travel li { 
  border: 1px transparent solid; 
  display:inline-block;
  width:12em;
}

#found_container {
  margin-top: 10px;
}